<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>7-10-加法计算器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C00D8FF01F1372D1009090CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00D90041F1372D2009090CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00D900F1F1372D2009090CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
